{% extends 'base.html' %}


{% block content %}


<style type="text/css">
	
	.card {

		max-width:  700px;
		max-height: 100px
	}

	.container{
		padding: :20px;
	}

</style>


<div class="container">

    
   
	<div class="row">
	<div>	  
  {% for formation_posts in filter.qs %}
  <label class="checkbox-inline">
    {{formation_posts.etat}}
  </label>
  {% endfor %}
</div>
  

		<div class="card m-auto">
			<img  class="card-img-top" src="{{formation_posts.logo.url}}">
			<div class="card-body my-2">
				<h2 class="card-title">{{formation_posts.title}}</h2>
				<p class="card-text">{{formation_posts.etat}}</p>
				{% if user.is_staff %}
				<a href="{% url 'formation:edit' formation_posts.slug %}" class="btn btn-primary"> Updates</a>
				{% endif %}
				
			</div>
			
				
		</div>
		

	</div>



 
</div>


{% endblock content%}