{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">

     @media (max-width: 768px) { 
          .right-column{
               margin-left: 0px;
          }
     }

     @media (min-width: 768px) { 
          .right-column{
               margin-left: 20px;
          }
     }

     .blog-post-container{
          margin-bottom: 20px;
          width: 100%;
     }
     .create-post-bar{
          background-color: #fff;
          margin-bottom:20px;
     }

     .left-column{
          padding:0px;
     }

     .right-column{
          padding:0px;
     }
     .lead{
          font-size: 17px;
     }
</style>
<div class="container">
     <div class="row">

          <!-- formation feed -->
          <div class="left-column col-lg-7 offset-lg-1">

               <!-- Top 'create post' bar -->
               <div class="d-lg-none mb-3">
                    <div class="card m-auto d-flex flex-column p-3">
                         <img class="img-fluid d-block m-auto pb-2" src="{% static '1.png' %}" width="72" height="72">
                         <p class="lead">create a new training</p>
                         <p class="m-auto"><a class="btn btn-primary" href="{% url 'formation:create' %}">Create formation</a></p>
                    </div>
               </div>
               <!-- end Top 'create post' bar -->

               <!-- Formation posts-->

               {% if formation_posts %}
                    {% for post in formation_posts %}
                         <div class="blog-post-container">
                              {% include 'formation/snippets/formation_post_snippet.html' with formation=post %}
                         </div>
                    {% endfor %}
               {% else %}
                    <div class="blog-post-container">
                         {% include 'formation/snippets/formation_post_snippet.html' with query=query %}
                         
                    </div> 
               {% endif %}
               <!-- End Formation posts-->
          </div>
          <!-- end Formation feed -->

          {% if user.is_authenticated and user.is_superuser %}
          <!-- Right 'create post' column  -->
          <div class="right-column col-lg-3 d-lg-flex d-none flex-column">

               <div class="card create-post-bar d-flex flex-column p-3">
                    <img class="img-fluid d-block m-auto pb-2" src="{% static '1.png' %}" width="72" height="72">
                    <p class="lead">You can create a new training</p>
                  
                    <p class="m-auto"><a class="btn btn-primary" href="{% url 'formation:create' %}">Create </a></p>

               </div>
          
          </div>
           {% endif %}
          <!-- end Right 'create post' column  -->

     </div>
</div>

{% endblock content %}
