<!DOCTYPE html>
<html lang=en>
<head>
	<title>This is the title</title>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    {% include 'snippets/header.html ' %}
</head>

<body>
	<!-- Body -->
	<style type="text/css">
		.main{
			min-height: 100vh;
			height:  100px;
		}
	</style>
	<div class="main">

		{% block content %}

		{% endblock content %}
	</div>
	<!-- End Body -->

	{% include 'snippets/footer.html ' %}

</body>



</html>