
<style type="text/css">
	.card{
		max-width:  200px;
		width: 40%;
       

		
	}
	.card-body{
		padding: 20px;

	}
</style>
{% if formation %}
<div class="container">
	<div class="row">



		<!-- Formation Post -->
		<div class="card m-auto">
			<a href="{% url 'formation:detail' formation.slug %}">
				<img class="card-img-top" src="{{formation.logo.url}}">
			</a>
			
			<div class="card-body mt-2 mb-2">
				<a href="{% url 'formation:detail' formation.slug %}">
					<h2 class="card-title">{{formation.title}}</h2>
				</a>
				
		
				{% if user.is_authenticated and user.is_superuser %}
					<a href="{% url 'formation:edit' formation.slug %}" class="btn btn-primary">Update</a>
				
				{% endif %}
				
			</div>

		</div>
	</div>
</div>


{% else %}

<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-title">
					No Results

				</h2>
				<p class="card-text">There were no results matching your search : "{{query}}".</p>
				
			</div>
		</div>
		
	</div>
</div>



			
{% endif %}